@charset "UTF-8";

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Sarabun';
  src:  url('../fonts/Sarabun-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SarabunSemiBold';
  src:  url('../fonts/Sarabun-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'SarabunBold';
  src:  url('../fonts/Sarabun-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SarabunExtraBold';
  src:  url('../fonts/Sarabun-ExtraBold.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Sarabun', sans-serif;
  /* max-width: 2000px; */
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.laptop {
  display: none;
}



/* MENU */

/* hamburger menu icon */

.menu_responsive-hide {
	transition: 0.5s;
	opacity: 0;
  	transform: translateY(-60px);
}

.menu_responsive-show {
	transition: 0.5s;
  	top: 0px;
}

.hamburger_div {
  height: 20vh;
  z-index: 99;
  background: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,1));
  padding: 20px 0 0 0;
  position: fixed;
  width: 100%;
  text-align: center;
}

.hamburger_logo {
  width: 120px;
}

.hamburger {
  display: block;
  top: 25px;
  left: 15px;
  position: absolute;
}

.hamburger_icon {
  width: 36px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
}

/* Hamburger icons animation */

.hamburger_icon_one {
  transform-origin: center center;
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.hamburger_icon_two {
  opacity: 0;
}

.hamburger_icon_three {
  transform-origin: center center;
  transform: rotate(-45deg) translateY(-6px) translateX(6px);
}

/* menu hidden */

.menu {
  position: fixed;
  z-index: 50;
  top: 0;
  background-color: #678B5F;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-100vw);
  transition: 0.4s;
}

/* menu show */

.menu_show {
  transform: translateX(0vw);
}

.menu-link {
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 25px 0;
}

.instagram_menu {
  width: 80px;
}

.instagram_menu img {
  width: 100%;
}


/* HOME */

.header {
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  padding: 5vh 8vw;
  overflow: hidden;
  /* text-align: center; */
}

.header_home {
  background-image: url('../images/header-bkg-res.jpg');
}

.header_somos {
  background-image: url('../images/header-somos-bkg-res.jpg');
}

.header_title {
  /* font-family: 'SarabunSemiBold', sans-serif; */
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 2rem;
  font-size: 0.8rem;
}

.header_title span {
  border-bottom: solid 1px #fff;
}

.header_description {
  font-size: 1.2rem;
}

.next_section {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 50%;
  margin: 0;
  left: 25%;
  /* margin-left: -50%; */
}

.next_section h5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  margin-bottom: 5px;
}

.next_section img {
  width: 25px;
}

/* PROYECTS SECTION */

.proyects_section {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.proyect_item {
  position: relative;
  height: 100vw;
}

.proyect_item img {
  width: 100%;
}

.proyect_item_overlay {
  /* visibility: hidden; */
  background: rgba(0,0,0,0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.proyect_overlay_category {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.proyect_overlay_line {
  width: 60px;
  height: 2px;
  background-color: #fff;
}

.proyect_overlay_title {
  font-size: 1.2rem;
}

/* BANNER */

.banner_section {
  background-image: url('../images/banner-bkg.jpg');
  background-size: cover;
  background-position: center center;
  padding: 40px 8vw;
  color: #fff;
}

.banner_section p {
  border-left: solid 2px white;
  padding-left: 15px;
}

/* FOOTER SECTION */

.footer {
  text-align: center;
  color: #fff;
  background-color: #095540;
  padding: 40px 8vw;
}

.footer_title {
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
  font-size: 1.1rem;
  letter-spacing: 3px;
}

.footer_info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer_item {
  /* text-align: left; */
  margin: 30px 0;
}

.footer_item p {
  margin: 5px;
}

.footer_icon {
  width: 70px;
}

.instagram {
  text-align: center;
}

.footer_copyright {
  font-size: 0.6rem;
}


/* SOMOS PAGE */

.header_somos .header_title h3 {
  margin-bottom: 0;
}

.somos_circle {
  background-color: #fff;
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 10px;
  vertical-align: middle;
}

.pais {
  font-weight: 600;
  display: inline-block;
  margin: 0;
  margin-left: 15px;
  vertical-align: middle;
}

.somos_section {
  padding: 0;
}

.profile {
  color: #095540;
}

.profile img {
  width: 100%;
}

.profile_text {
  padding: 10px 8vw;
}

.cv_link {
  text-decoration: underline;
  font-weight: 600;
}

.profile_description {
  margin: 40px 8vw 65px 8vw;
}


/* PROYECT PAGE */


.proyect_header {
  height: calc(var(--vh, 1vh) * 85);
  background-attachment: scroll;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../images/proyect_hero.jpg');
  color: #fff;
}

.proyect_container {
  padding: 3vh 8vw;
}

.proyect_brief {
  color: #9D9D9C;
}

.proyect_brief_title {
  color: #095540;
  margin: 0;
  font-size: 1.6rem;
  font-family: 'SarabunSemiBold';
}

.proyect_brief_big {
  margin: 5px 0 5px 0;
  text-transform: uppercase;
  font-size: 0.95rem;
  letter-spacing: 1px;
  font-family: 'SarabunSemiBold', sans-serif;
}

.proyect_brief_tiny {
  font-size: 0.7rem;
  text-transform: uppercase;
  margin: 0;
}

.proyect_brief_text {
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}

.proyect_description {
  margin: 50px 0;
}

.proyect_gallery {
  margin: 0 auto;
}

.proyect_wide {
  width: 100%;
  margin: 5px 0;
}

.proyect_square {
  display: flex;
  flex-direction: column;
  padding: -5px 0;
}

.proyect_square img {
  width: 100%;
  padding: 5px 0;
}

/* ------------------------------------------------
PROYECT BACK PAGE */

.proyect_back {
  padding: 60px 0;
}

.proyect_back a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.proyect_back img {
  width: 30px;
  margin-right: 10px;
}

.proyect_back a h5 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
