/* TABLETS MID RES PORTRAIT */

@media (min-width: 520px) and (orientation: portrait) {

  /* HOME */

  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header_title {
    text-align: right;
    width: 35%;
  }

  .header_description {
    width: 60%;
    font-size: 1.5rem;
  }

  /* PROYECTS SECTION */

  .proyects_section {
    flex-direction: row;
  }

  .proyect_item {
    width: 50%;
    height: 50vw;
  }

  /* BANNER */

  .banner_section {
    padding: 60px 15vw;
  }

  .banner_section p {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  /* FOOTER */

  .footer_info {
    flex-direction: row;
  }

  .footer_item {
    width: 33%;
  }

  /* PROYECT PAGE */

  .proyect_brief_title {
    font-size: 2rem;
  }

  .proyect_square {
    display: flex;
    flex-direction: row;
    padding: -5px 0;
    justify-content: space-between;
  }

  .proyect_square img {
    width: 49.4%;
  }


}

/* LAPTOP STYLE */

@media (min-width: 1100px) and (orientation: landscape) {

  .laptop {
    display: block;
  }

  .laptop_menu_logo_div {
    position: fixed;
    z-index: 50;
    width: 200px;
    top: 80px;
    left: 100px;
    z-index: 55;
    transition: 0.4s;
  }

  .laptop_menu_logo {
    width: 100%;
  }

  .laptop_menu_logo_div_shrink {
    width: 100px;
    top: 30px;
    left: 50px;
  }

  /* MENU */

  .hamburger_div {
    display: none;
  }

  /* menu hidden */

  .menu {
    position: fixed;
    z-index: 50;
    top: 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #000, rgba(0,0,0,0));
    height: 250px;
    width: 100vw;
    flex-direction: row;
    transform: translateX(0vw);
    transition: 0.4s;
    justify-content: flex-end;
    padding: 0 5vw;
  }

  .menu-link {
    font-size: 1.2rem;
    width: 10%;
    text-align: center;
    transition: 0.4s;
  }

  .instagram_menu {
    width: 80px;
    transition: 0.4s;
  }

  .instagram_menu img {
    width: 100%;
  }

  /* menu small */

  .menu_shrink {
    height: 100px;
    background-image: linear-gradient(to bottom, #000, rgba(0,0,0,0));
  }

  .menu-link_shrink {
    font-size: 0.8rem;
  }

  .instagram_menu_shrink {
    width: 50px;
  }


  /* HOME */

  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15vw;
    width: 100%;
  }

  .header_home {
    background-image: url('../images/header-bkg.jpg');
  }

  .header_somos {
    background-image: url('../images/header-somos-bkg.jpg');
  }

  .header_title {
    text-align: right;
    width: 30%;
    font-size: 1.1rem;
    line-height: 2.2rem;
    opacity: 0;
    transform: translateX(-100px);
    transition: 1s;
  }

  .header-from-left {
    transform: translateX(0px);
    opacity: 1;
  }

  .header_description {
    width: 60%;
    font-size: 1.8rem;
    opacity: 0;
    transform: translateX(100px);
    transition: 1s;
  }

  .header-from-right {
    transform: translateX(0px);
    opacity: 1;
  }

  .next_section h5 {
    font-size: 0.8rem;
    letter-spacing: 4px;
  }

  /* PROYECTS SECTION */

  .proyects_section {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
  }

  .proyect_item {
    height: auto;
    flex: 0 0 31%;
    /* padding: 20px; */
  }

  .proyect_item_overlay {
    visibility: hidden;
    width: 100%;
    height: 99%;
    opacity: 0;
    transition: 0.4s;
    padding: 0 12%;
    text-align: center;
  }

  .proyect_item:hover .proyect_item_overlay {
    visibility: visible;
    opacity: 1;
  }

  .proyect_overlay_category {
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }

  .proyect_overlay_title {
    font-size: 1.6rem;
  }


  /* BANNER */

  .banner_section {
    padding: 60px 20vw;
  }

  .banner_section p {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  /* FOOTER */

  .footer_info {
    flex-direction: row;
  }

  .footer_item {
    width: 33%;
  }

  .footer_copyright {
    font-size: 0.8rem;
  }

  /* --------------------------------------------------- */
  /* SOMOS PAGE */
  /* --------------------------------------------------- */

  .header_somos .header_title {
    text-align: right;
    width: 35%;
    font-size: 1.1rem;
    line-height: 2.2rem;
  }

  .header_somos .header_description {
    width: 60%;
    font-size: 2.2rem;
  }

  .somos_section {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px 0;
  }

  .profile {
    width: 45%;
    padding: 0 5%;
  }

  .profile_text {
    padding: 0;
  }

  .profile_description {
    width: 55%;
    padding-right: 5%;
    margin: 0;
    position: relative;
  }

  .profile_description p {
    font-size: 1.1rem;
  }

  .contactanos {
    position: absolute;
    width: 30%;
    right: 5%;
    bottom: 0;
  }

  /* PROYECTS PAGE */

  .proyect_header {
    height: calc(var(--vh, 1vh) * 75);
    background-attachment: fixed;
  }

  .proyect_container {
    margin: 0 auto;
    padding: 10vh 5vw 150px 5vw;
    max-width: 1700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .proyect_brief {
    width: 30%;
  }

  .proyect_description {
    width: 60%;
    margin: 0;
  }

  .proyect_brief_title {
    font-size: 2rem;
    font-family: 'SarabunSemiBold', sans-serif;
  }

  .proyect_gallery {
    max-width: 1700px;
    padding: 0 5vw;
  }

  .proyect_square {
    flex-direction: row;
    justify-content: space-between;
  }

  .proyect_square img {
    width: 49.5%;
    padding: 5px 0;
  }


  /* PROYECT BACK SECTION */

  .proyect_back a h5 {
    font-family: 'Sarabun', sans-serif;
    font-size: 1.2rem;
  }

}

@media (min-width: 1440px) and (orientation: landscape) {

  /* HOME */

  .header {
    padding: 0 20vw;
  }

  .header_title {
    text-align: right;
    width: 25%;
    font-size: 1.1rem;
    line-height: 2.8rem;
  }

  .header_description {
    width: 70%;
    font-size: 2rem;
  }

  /* PROYECTS SECTION */

  .proyects_section {
    margin: 0 auto;
    max-width: 2000px;
  }

  /* BANNER */

  .banner_section {
    padding: 60px 25vw;
  }

  .banner_section p {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }

  /* PROYECTS PAGE */

  .proyect_header {
    height: calc(var(--vh, 1vh) * 85);
    background-attachment: fixed;
  }


}
